@font-face {
  font-family: 'saas';
  src: url('./saas.eot?lnn43x');
  src: url('./saas.eot?lnn43x#iefix') format('embedded-opentype'), url('./saas.ttf?lnn43x') format('truetype'), url('./saas.woff?lnn43x') format('woff'), url('./saas.svg?lnn43x#saas') format('svg');
  font-weight: normal;
  font-style: normal;
}

.saas {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'saas' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* line-height: 1; */
  font-size: 16px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.saas-aside-basicsetting:before {
  content: "\e900";
}

.saas-aside-chargeaccount:before {
  content: "\e901";
}

.saas-aside-discounts:before {
  content: "\e902";
}

.saas-aside-facility:before {
  content: "\e903";
}

.saas-aside-menu:before {
  content: "\e904";
}

.saas-aside-openshop:before {
  content: "\e905";
}

.saas-aside-takeout:before {
  content: "\e906";
}

.saas-aside-thirdparty:before {
  content: "\e907";
}

.saas-button-add:before {
  content: "\e908";
}

.saas-button-delete:before {
  content: "\e909";
}

.saas-button-fullscreen:before {
  content: "\e90a";
}

.saas-button-import:before {
  content: "\e90b";
}

.saas-button-refresh:before {
  content: "\e90c";
  /* color: #000; */
}

.saas-button-setting:before {
  content: "\e90d";
  /* color: #000; */
}

.saas-close-all:before {
  content: "\e90e";
}

.saas-del:before {
  content: "\e90f";
}

.saas-down:before {
  content: "\e910";
}

.saas-edit:before {
  content: "\e911";
}

.saas-expand-all:before {
  content: "\e912";
}

.saas-header-admin:before {
  content: "\e913";
}

.saas-header-changepassword:before {
  content: "\e914";
}

.saas-header-closeall:before {
  content: "\e915";
}

.saas-header-fullscreen:before {
  content: "\e916";
}

.saas-header-function:before {
  content: "\e917";
}

.saas-header-home:before {
  content: "\e918";
}

.saas-header-inform:before {
  content: "\e919";
}

.saas-header-logout:before {
  content: "\e91a";
}

.saas-header-quitfullscreen:before {
  content: "\e91b";
}

.saas-header-refresh:before {
  content: "\e91c";
}

.saas-header-returnguide:before {
  content: "\e91d";
}

.saas-nav-abbrdropdown:before {
  content: "\e91e";
}

.saas-nav-closehover:before {
  content: "\e91f";
}

.saas-nav-dropdown:before {
  content: "\e920";
}

.saas-nav-leftturn:before {
  content: "\e921";
}

.saas-nav-outlink:before {
  content: "\e922";
}

.saas-nav-pullup:before {
  content: "\e923";
}

.saas-nav-rightrturn:before {
  content: "\e924";
}

.saas-organ-manage:before {
  content: "\e925";
}

.saas-page-menumanage:before {
  content: "\e926";
}

.saas-page-openshop:before {
  content: "\e927";
}

.saas-page-outlink:before {
  content: "\e928";
}

.saas-page-titleheader:before {
  content: "\e929";
}

.saas-person-manage:before {
  content: "\e92a";
}

.saas-postion:before {
  content: "\e92b";
}

.saas-right:before {
  content: "\e92c";
}

.saas-right-sj:before {
  content: "\e92d";
}

.saas-seach:before {
  content: "\e92e";
}

.saas-setsystem:before {
  content: "\e92f";
}

.saas-shrink-all:before {
  content: "\e930";
}

.saas-start:before {
  content: "\e931";
}

.saas-start-sj:before {
  content: "\e932";
}

.saas-stop:before {
  content: "\e933";
}

.saas-time:before {
  content: "\e934";
}

.saas-toast-error:before {
  content: "\e935";
}

.saas-toast-info:before {
  content: "\e936";
}

.saas-toast-success:before {
  content: "\e937";
}

.saas-toast-warning:before {
  content: "\e938";
}

.saas-tree-down:before {
  content: "\e939";
}

.saas-tree-up:before {
  content: "\e93a";
}

.saas-user:before {
  content: "\e93b";
}