.nav-tabs {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding-right: 42px;
}
.nav-tabs > .el-tabs {
  background-color: #fff;
}
.nav-tabs > .el-tabs > .el-tabs__header {
  z-index: 0;
  margin: 0!important;
}
.nav-tabs > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap {
  margin-bottom: 0;
  padding: 0 30px;
}
.nav-tabs > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__active-bar {
  height: 0;
  display: none;
}
.nav-tabs > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item {
  padding: 0 7px 0 16px;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  color: #34495E;
}
.nav-tabs > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item.is-active {
  background-color: #F4F9FC;
}
.nav-tabs > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item.is-active::after {
  display: none;
}
.nav-tabs > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item:nth-child(2) > .el-icon-close {
  display: none;
}
.nav-tabs > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item:nth-child(2) {
  padding: 0 16px;
}
.nav-tabs > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item::after {
  content: "|";
  display: block;
  height: 36px;
  width: 1px;
  line-height: 36px;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: -1px;
  z-index: -1;
  color: #EDF0F4;
}
.nav-tabs > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap::after {
  content: "";
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: none;
}
.nav-tabs > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-prev {
  line-height: 36px;
  width: 30px;
  text-align: center;
  opacity: 0;
}
.nav-tabs > .el-tabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-next {
  line-height: 36px;
  width: 30px;
  text-align: center;
  opacity: 0;
}
